<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
<add key="Main.ConnectionString" value="data source=103.127.206.198;initial catalog=SQL_TinLuong;UID=tinluong;PWD=1" />
	</appSettings>
</configuration>